# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
dist/
*.egg-info/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Temporary / Scratch
scratch/
.tempmediaStorage/
*.log
